<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>EXTN:Coorg</title>
<style>
    a{
    
        display: inline-block;
    }
    th:hover{
      border-radius: 50%;
      transform:scale(1.05);
      transition: transform o.5s ease-in-out;
    }
</style>
</head>
<marquee behavior="scroll" direction="left" style="background-image:url(https://t4.ftcdn.net/jpg/05/28/14/49/360_F_528144907_SWUjniScpiyXiErghjRxFFfZKOwiIMy9.jpg);"><h1> Coorg: "The Land of Coffee"</h1></marquee><br><br>
<body style="background-image:url(https://img.freepik.com/premium-photo/beautiful-blue-sky-background-with-cloud-sunset-light_9693-1757.jpg?semt=ais_hybrid); background-size: cover;">
<center>
    <table border="1"  cellpading="20" cellspacing="20">
<tr><td colspan="2">
        <img src="https://www.skywaytour.com/media/gallery/2024-08-05-10-35-43-coorg01.jpg" width="600" height="400">
</img></td></tr>

     <tr><th style="background-color: red">  <a href="https://en.wikipedia.org/wiki/Coorg" ><h1> WIKIPEDIA</h1></a></th><th style="background-color: aqua;"> <a href="https://youtu.be/YvF1U2XRfrQ?si=X26zR2uloz0b_gVH" ><h1> Video Guide</h1></a> </th></tr>
      <tr><th style="background-color: chartreuse;"> <a href="https://www.holidify.com/places/Coorg/sightseeing-and-things-to-do.html" ><h1> Must visit places</h1></a></th> <th style="background-color:yellow;"><a href="https://www.in.cheapflights.com/" ><h1>InstantBooking</h1></a> 
</th></tr>
</table></center>

</body>
</html>